header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: white;
    align-content: center;
    justify-content: space-between;



    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            cursor: pointer;
            font-size: 2rem;
        }

        span {
            cursor: pointer;
            color: white;
            &:hover{
                color: #777;
            }
        }

        ul {
            list-style: none;
            display: flex;
            gap: 16px;
            li {
                cursor: pointer;
                color: white;
                &:hover{
                    color: #777;
                }
            }
        }
    }


}
