<h2 class="mt-4 mb-3 text-center">
    <i class="bi bi-graph-down-arrow me-2"></i> Market Data
</h2>

<div class="table-responsive mx-auto" style="max-width: 900px;">
    <table class="table table-striped table-hover text-center align-middle" >
        <thead>
        <tr>
            <th>#</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Follow</th>
            <th>Buy/Sell</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stock of symbols; let i = index">
            <td>{{ i + 1 }}</td>
            <td><app-market-item [symbol]="stock.symbol"></app-market-item></td>
            <td><app-market-item [price]="stock.price"></app-market-item></td>
            <td>
                <input
                        type="checkbox"
                        [checked]="portfolioService.isInPortfolio(stock.symbol)"
                        (change)="onToggle(stock)"
                />
            </td>
            <td><app-counter></app-counter></td>
        </tr>


        </tbody>
    </table>
</div>

