/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
}

* {
    outline: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

.app-content {
    flex: 1; /* take up remaining space, pushes footer down */
    padding: 16px;
}